<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
    <!--開啟註解配置-->
    <context:component-scan base-package="com.yau"/>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="url" value="jdbc:postgresql://localhost:5432/mybatis"/>
        <property name="username" value="postgres"/>
        <property name="password" value="FSqwk123"/>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="mybatis-config.xml"/>
    </bean>

    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <!--你可能會好奇為什麼 sqlSessionFactory 事實上是 SqlSessionFactoryBean 的實例而非 SqlSessionFactory，
        為何可以放在此處？請參考：https://mybatis.org/spring/zh/factorybean.html -->
        <constructor-arg ref="sqlSessionFactory"/>
    </bean>

    <bean id="userMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
        <property name="mapperInterface" value="com.yau.mapper.UserMapper"/>
    </bean>

    <bean id="userService2" class="com.yau.service.UserServiceImpl2">
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
    <!--        <bean id="userService" class="com.yau.service.UserServiceImpl"/>-->
</beans>