<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
    <!--    <aop:config>-->
    <!--        <aop:pointcut id="pointcut" expression="execution(* com.yau.service.UserServiceImpl.*(..))"/>-->
    <!--        <aop:advisor advice-ref="beforeLog" pointcut-ref="pointcut"/>-->
    <!--        <aop:advisor advice-ref="afterLog" pointcut-ref="pointcut"/>-->
    <!--    </aop:config>-->

    <context:component-scan base-package="com.yau"/>
    <!--啟用 Spring AOP 的註解時，記得要開啟 aspectj-autoproxy，如果使用的是 JavaConfig 的方式，則可以使用 @EnableAspectJAutoProxy-->
    <aop:aspectj-autoproxy/>

    <!--    <aop:config>-->
    <!--        <aop:pointcut id="pointCut" expression="execution(* com..*.*(..))"/>-->
    <!--        <aop:aspect ref="diyPointCut">-->
    <!--            <aop:before method="before" pointcut-ref="pointCut"/>-->
    <!--            <aop:after method="after" pointcut-ref="pointCut"/>-->
    <!--        </aop:aspect>-->
    <!--    </aop:config>-->
</beans>